<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic@6.5.0/picnic.min.css"-->
    <link rel="stylesheet" href="css/styles.min.css">
    <title>My Recipes</title>
    
</head>
<body class="container">
    <h1>forsidan</h1>
    {% block content %} {% endblock %}
</body>
</html>
        <body class="container">
            <header class="headcol-2">
                <div>
                    <h4><em>With a little help from my friends</em></h4>
                </div>
                <nav class="topnav">
                    <ul class="topmenu">
                        <li><a href="bread.html"><span class="icon-bread"></span> Bread</a></li>
                        <li><a href="#"><span class="icon-starters"></span> Starters</a></li>
                        <li><a href="#"><span class="icon-maincourses"></span> Main Courses</a></li>
                        <li><a href="#"> <span class="icon-desserts"></span> Desserts</a></li>
                        <li><a href="#"><span class="icon-glass"></span> Drinks</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <section class="col-3-1">
                    <div class="splashlogo">
                        <img src="img/my-recipes.svg"  title="myrecipes lógó">
                    </div>
                    <div class="kynning">
                        <h2>Scalable Vector Graphics. Í 4. verkefni búum við til nýja forsíðu á uppskriftarvefinn og notum SVG tákn í lógó og leturtákn í efnisyfirliti.  Til að byrja með notum við vefsíðurnar úr 3. verkefni sem undirsíður og höfum aðra tengla í efnisyfirlitinu óvirka. </h2>
                    </div>
                    <div class="auglysing">
                        <p>Í 5. verkefni búum við til auglýsingu og setjum hana hér með <br><em> {% include "auglysing.html" %}</em><br> skipuninni</p>
                    <div>
                </div></div></section>
                <figure class="col-4">
                    <img src="img/front/bread.jpg" title="bread">
                    <img src="img/front/FigHamStarter.jpg" title="starters">
                    <img src="img/front/Grilled-Buttermilk-Chicken.jpg" title="courses">
                    <img src="img/front/desserts-hero.jpg" title="desserts">
                </figure>
            </main>
            <footer><p>© 2020 GJG - tölvubraut Tækniskólans</p></footer>
            
        
        
        
        
        
        </body>